.body{
    margin: 0;
    font-family: "Nunito Sans" ,Arial;
}
body * {
    box-sizing: border-box;
}
/*Весь хедер*/

.container{
    max-width: 1438px;
    margin: 0 auto;
}

.logo{
    color: #E3B873;
}

.header{
    background-color: black;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
}

.menu-navigation a{
    text-decoration: none;
    color: white;
    margin-right: 47px;
}

.phone{
    color: #E3B873;
    border-bottom: 1px solid;
}

.button{
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

a{
    color: #E3B873;
}

/*Весь хедер*/

.backpic{
    background-image: url("img/image 4.3.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.backpic-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.title{
    margin: 0;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

